<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <animal-thumnail *ngFor="let animal of animals" [info]="animal" (OnDelete)="removeAnimal($event)"></animal-thumnail>
      <div class="text-center mt-3" *ngIf="animals.length == 0">
        <h2 class="text-muted">No friends where found</h2>
      </div>
    </div>
    <div class="col-5 pt-2">
      <h2>Put them up for adoption.</h2>
      <h4>Animal Info.</h4>
      <form #form="ngForm">
        <div class="form-group">
          <label for="animalName">Name:</label>
          <input type="text" class="form-control form-control-sm" id="animalName" name="name" ngModel>
          <small id="animalNameHelp" class="form-text text-muted">Keep it empty if there is no name.</small>
        </div>
        <div class="form-group">
          <label for="animalSpecie">Specie:</label>
          <input required type="text" class="form-control form-control-sm" id="animalSpecie" name="species" ngModel>
        </div>
        <div class="form-group">
            <label for="animalBreed">Breed:</label>
            <input required type="text" class="form-control form-control-sm" id="animalBreed" name="breed" ngModel>
        </div>
        <div class="form-group">
            <label for="animalColor">Color:</label>
            <input required type="text" class="form-control form-control-sm" id="animalColor" name="color" ngModel>
        </div>
        <div class="form-group">
            <label for="animalAge">Age:</label>
            <input type="text" class="form-control form-control-sm" id="animalAge" name="age" ngModel>
            <small id="animalAgeHelp" class="form-text text-muted">Keep it empty if there is no age.</small>
        </div>
        <div class="form-group">
            <label for="animalLocation">Location:</label>
            <input required type="text" class="form-control form-control-sm" id="animalLocation" name="location" ngModel>
          </div>
        <label>Gender:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="gender1" value="Male" ngModel>
            <label class="form-check-label" for="gender1">
              Male
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="gender2" value="Female" ngModel>
            <label class="form-check-label" for="gender2">
              Female
            </label>
          </div>
        <button type="button" class="btn btn-primary my-3" (click)="createNewFriend(form)">Submit</button>
        <pre>
          {{ form.value | json}}
        </pre>
      </form>
    </div>
  </div>
</div>
