<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pet Rescue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse offset-lg-9" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{'active': isActive('/')}">
        <a class="nav-link" routerLink="/" (click)="isActive()">Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': isActive('/friends')}">
        <a class="nav-link" routerLink="/friends" (click)="isActive()">Friends</a>
      </li>
    </ul>
  </div>
</nav>
