<!-- Carousel -->
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="height: 500px">
  <div class="carousel-inner h-100">
    <div class="carousel-item active" data-interval="2000">
      <img
        src="https://images.pexels.com/photos/1498925/pexels-photo-1498925.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="d-block img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img
        src="https://images.pexels.com/photos/1249208/pexels-photo-1249208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="d-block img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://images.pexels.com/photos/1663407/pexels-photo-1663407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        class="d-block img-fluid" height="100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="site-info">
  <div class="container pt-4">
    <div class="row">
      <div class="col">
        <h4 class="text-center">¿Who we are?</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col">
        <h4 class="text-center">¿What are we trying to achieve?</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
