<div class="card float-left ml-3 mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{data.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{data.species}} - {{data.breed}}</h6>
    <p class="card-text">
      Age: {{data.age}}<br>
      Color: {{data.color}}<br>
      Location: {{data.location}}
    </p>
    <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#deleteModal">
      Delete
    </button>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateModal">
      Update
    </button>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete: {{data.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Delete this friend?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteFriend()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>